@model List<TTMS.Models.CartProduct>

@{
    ViewBag.Title = "Cart";
}

@{
    int sum = 0;
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>
@using (Html.BeginForm("PlaceOrder", "Orders",FormMethod.Post))
{
<div id="dvContents">
    <table class="table table-hover" width="100%">
        <thead>
            <tr>   <th>  Name </th>   <th> Image </th>   <th> Price </th><th>Quantity</th><th>Total</th>   <th> Remove </th>   </tr>
        </thead>
        <tbody>
            @{
                int i = 0;
                foreach (var x in Model)
                {
                    <tr>
                        <td style="display:none">@Html.TextBoxFor(model=> model[i].productID) </td>
                        <td> @x.name </td>
                        <td>
                            <img id="img1" src="..\@Url.Content(@x.imagePath)" height="100" width="75" />
                        </td>
                        <td>₹ @Html.TextBoxFor(model => model[i].price, null, htmlAttributes : new { @class = "input-sm", @style = "width:100px", @readonly = true } )</td>
                        <td>@Html.TextBoxFor(model => model[i].quantity, null, htmlAttributes : new { @class = "input-sm", @style = "width:100px" } )</td>
                        <td>Rs. </td>
                        <td>
                            <button id="btn_delete" class="label label-primary" data - slno="@x.productID"
                                    onclick="location.href='@Url.Action("Remove", "Orders", x)'">
                                <i>
                                    @*<img src="~/Icons/delete.png" height="30" width="30" />*@ X
                            </button>
                        </td>
                    </tr>
                    i++;
                }
            }
        </tbody>
        @{ 
            int k = 0;
            foreach (var x in Model)
            {
                    sum = Convert.ToInt32(x.price * Model[k].quantity) + sum;
            }
        }
        <tfoot> <tr> <td> </td>   <td> </td> <td></td>  <td> <b> Total </b></td> <td> ₹@sum </td>   </tr>   </tfoot>
    </table>
    <div id="footer">

    </div>
    <button type="button" id="btnPrint" class="btn btn-primary">Print</button>
    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("NewOrder", "Orders")'">Continue Shopping</button>
    <button type="submit" class="btn btn-warning">Place Order</button>
</div> 
}