@model IEnumerable<TTMS.Models.PurchaseEntry>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>Sl.No.</th>
            <th>
               <div>Purchase Entry No.</div>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseOrder.Supplier.OrganizationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>Actions</th>
        </tr>
    @{ int rowNo = 0; }
    @foreach (var item in Model) {
        int i = 1;
        <tr>
            <td>
                @(rowNo += 1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseOrder.PurchaseOrderNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseOrder.Supplier.OrganizationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                @Html.ActionLink("Print", "Details", new { id = item.ID })
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
    
    </table>
 