@model TTMS.Models.saleproduct

 
    <div>
        <h4>SaleProduct</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ShortName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ShortName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Size)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Size)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Color)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Color)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ImagePath)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ImagePath)
            </dd>
    

    
            <dt>
                @Html.DisplayNameFor(model => model.brandsmaster.BrandName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.brandsmaster.BrandName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.productcategory.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.productcategory.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.unit.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.unit.Name)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
 