@model IEnumerable<TTMS.Models.saleproduct>
<script>
        $(document).ready(function () {
            var oTable = $('#tblProducts').dataTable({
                "sPaginationType": "full_numbers"
            });
        });
</script>
 
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table id="tblProducts" class="display">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>

            
            <th>
                @Html.DisplayNameFor(model => model.brandsmaster.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productcategory.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.unit.Name)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                <input type="image" id="img" src="@Url.Content(@item.ImagePath)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
           
             
            <td>
                @Html.DisplayFor(modelItem => item.brandsmaster.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productcategory.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.unit.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }
    
    </table>
