@model IEnumerable<TTMS.Models.purchaseorder>

<script>
        $(document).ready(function () {
            var oTable = $('#tblPurchaseOrder').dataTable({
                "sPaginationType": "full_numbers"
            });
        });
</script>

<div class="panel-heading">
    <h4>Purchase Order</h4> 
    <span class="tools pull-right">
        @Html.ActionLink("Add Purchase Order", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
    </span>
</div>
<br /><br />
<table id="tblPurchaseOrder" class="display">
    <thead>
        <tr>
            <th>Sl.No</th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseOrderNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.supplier.OrganizationName)
            </th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @{ int rowNo = 0; }
        @foreach (var item in Model)
        {
            int i = 1;

            <tr>
                <td>
                    @(rowNo += 1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseOrderNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.supplier.OrganizationName)
                </td>
                <td>NA</td>
                <td>
                    @Html.ActionLink("Purchase Entry", "Edit", "PurchaseEntries", new { id = item.ID, IsPurchaseOrder = true }, null) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }) |
                </td>
            </tr>
        }
    </tbody>
</table>
