@model IEnumerable<TTMS.Models.PurchaseOrder>
@section Scripts
{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.dataTables.min.js")"></script>
}
<link href="~/Content/demo_table.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script>
        $(document).ready(function () {
            var oTable = $('#tblPurchaseOrder').dataTable({

            });
        });
</script>



<h4>PurchaseOrder</h4>

<div class="panel-heading">
    Purchase Order

    <span class="tools pull-right">
        @Html.ActionLink("Add Purchase Order", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
    </span>
</div>
<br /><br />
<table id="tblPurchaseOrder" class="display">
    <thead>
        <tr>
            <th>Sl.No</th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseOrderNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier.OrganizationName)
            </th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    @{ int rowNo = 0; }
    @foreach (var item in Model)
    {
        int i = 1;
        <tbody>
            <tr>
                <td>
                   @(rowNo += 1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseOrderNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier.OrganizationName)
                </td>
                <td>NA</td>
                <td>
                    @Html.ActionLink("Purchase Entry", "Edit", "PurchaseEntries", new { id = item.ID, IsPurchaseOrder = true }, null) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }) |
                </td>
            </tr>
        </tbody>
    }

</table>
