<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Textile Management System </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- Theme initialization -->
    <link href="~/Content/vendor.css" rel="stylesheet" />
    <link href="~/Content/navigation.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
    <link href="~/Content/app.css" rel="stylesheet" />
    <link href="~/Content/demo_table.css" rel="stylesheet" />
    @*<link href="~/Content/demo_table_jui.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />*@
        <link href="~/Content/themes/smoothness/jquery-ui-1.7.2.custom.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var themeSettings = (localStorage.getItem('themeSettings')) ? JSON.parse(localStorage.getItem('themeSettings')) :
            {};
        var themeName = themeSettings.themeName || '';
        if (themeName) {
            document.write('<link rel="stylesheet" id="theme-style" href="Content/app-' + themeName + '.css">');
        }
        else {
            document.write('<link rel="stylesheet" id="theme-style" href="Content/app.css">');
        }
    </script>
</head>
<body>
    <div class="main-wrapper page-container">
        <div class="app" id="app">
            <header class="header">
                <div class="header-block header-block-collapse hidden-lg-up">
                    <button class="collapse-btn" id="sidebar-collapse-btn">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>

                <div class="header-block header-block-search hidden-sm-down">
                    <form role="search">
                        <div class="input-container">
                            <i class="fa fa-search"></i> <input type="search" placeholder="Search" style="background-color:#fff;">
                            <div class="underline"></div>
                        </div>
                    </form>
                </div>
                <div class="header-block header-block-buttons">
                    <!--
                        <a href="https://github.com/modularcode/modular-admin-html" class="btn btn-oval btn-sm rounded-s header-btn"> <i class="fa fa-github-alt"></i> View on GitHub </a>
                        <a href="https://github.com/modularcode/modular-admin-html/releases/download/v1.0.1/modular-admin-html-1.0.1.zip" class="btn btn-oval btn-sm rounded-s header-btn"> <i class="fa fa-cloud-download"></i> Download .zip </a>-->
                </div>
                <div class="header-block header-block-nav">
                    <ul class="nav-profile">
                        <li class="notifications new">
                            <a href="" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i> <sup>
                                    <span class="counter">8</span>
                                </sup>
                            </a>
                            <div class="dropdown-menu notifications-dropdown-menu">
                                <ul class="notifications-container">
                                    <li>
                                        <a href="" class="notification-item">
                                            <div class="img-col">
                                                <div class="img" style="background-image: url('assets/faces/3.jpg')"></div>
                                            </div>
                                            <div class="body-col">
                                                <p> <span class="accent">Zack Alien</span> pushed new commit: <span class="accent">Fix page load performance issue</span>. </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="notification-item">
                                            <div class="img-col">
                                                <div class="img" style="background-image: url('assets/faces/5.jpg')"></div>
                                            </div>
                                            <div class="body-col">
                                                <p> <span class="accent">Amaya Hatsumi</span> started new task: <span class="accent">Dashboard UI design.</span>. </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="notification-item">
                                            <div class="img-col">
                                                <div class="img" style="background-image: url('assets/faces/8.jpg')"></div>
                                            </div>
                                            <div class="body-col">
                                                <p> <span class="accent">Andy Nouman</span> deployed new version of <span class="accent">NodeJS REST Api V3</span> </p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <footer>
                                    <ul>
                                        <li>
                                            <a href="">
                                                View All
                                            </a>
                                        </li>
                                    </ul>
                                </footer>
                            </div>
                        </li>
                       
                        <li class="profile dropdown">
                            @Html.Partial("_LoginPartial")
                        </li>
                    </ul>
                </div>
            </header>

            <aside class="sidebar side" >
                <div class="sidebar" >
                    <header class="logo" style="height:none !important;">
                        <!--<a href="#" class="sidebar-icon" > <span class="fa fa-bars"></span> </a> <a href="#"> <span id="logo" class="fa fa-html fa-5x"></span>-->
                        <img id="logo" src="assets/faces/8.jpg" height="50PX" alt="Logo" />
                        </a>
                    </header>
                    <div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>

                    <div class="menu">
                        <ul id="menu">
                            <li id="menu-home " style="text-align:center !important;"><a href="#"><i class="fa fa-plus-circle fa-2x"></i></br><span>Dashboard</span></a></li>
                            <li style="text-align:center !important;">
                                <a href="#"><i class="fa fa-credit-card  fa-2x"></i></br><span>Bills</span></a>
                                <ul style="text-align:left !important" ;>
                                    <li><a href="#"> New Order</a></li>
                                    <li><a href="#"> Payment</a></li>
                                    <li><a href="#"> Bill History</a></li>
                                    <li><a href="#"> Return</a></li>
                                </ul>
                            </li>
                            <li style="text-align:center !important;">
                                <a href="#"><i class="fa fa-credit-card  fa-2x"></i></br><span>Production</span></a>
                                <ul style="text-align:left !important" ;>
                                    <li>@Html.ActionLink("Orders", "Index", "Orders")</li>
                                    <li>@Html.ActionLink("Delivery", "Index", "Deliveries")</li>
                                    <li>@Html.ActionLink("Cutting Master", "Index", "Order_Master")</li>
                                    <li>@Html.ActionLink("Assign To Employee", "Index", "Order_Employee")</li>
                                    <li><a href="#"> Day End</a></li>
                                </ul>
                            </li>
                            <li><a href="#" style="text-align:center !important;"><i class="fa fa-users  fa-2x"></i></br><span>Customers</span></a></li>

                            <li id="menu-academico" style="text-align:center !important;">
                                <a href="#"><i class="fa fa-cubes fa-1x"></i></br><span>Employee</span></a>
                                <ul id="menu-academico-sub">
                                    <li id="menu-academico-avaliacoes">@Html.ActionLink("Employees", "Index", "Employees")</li>
                                    <li id="menu-academico-boletim"><a href="#">Performance</a></li>
                                    <li id="menu-academico-avaliacoes"><a href="#">Employee</a></li>
                                    <li id="menu-academico-avaliacoes"><a href="#">Emp Payment</a></li>
                                </ul>
                            </li>
                            <li id="menu-comunicacao" style="text-align:center !important;">
                                <a href="#"><i class="fa fa-gears fa-2x"></i></br><span>Masters</span><!--<span class="fa fa-angle-double-right" style="float: right; text-align:middle !important;"></span>--></a>
                                <ul id="menu-comunicacao-sub" style="text-align:left !important" ;>
                                    <li id="menu-arquivos">@Html.ActionLink("Product Categories", "Index", "ProductCategories")</li>
                                    <li id="menu-arquivos">@Html.ActionLink("Brand", "Index", "BrandsMasters")</li>
                                    <li id="menu-arquivos">@Html.ActionLink("Products", "Index", "Products")</li>
                                    <li id="menu-arquivos">@Html.ActionLink("Units", "Index", "Units")</li>
                                    <li id="menu-arquivos"><a href="#">Distributor</a></li>
                                    <li id="menu-arquivos"><a href="#">Job</a></li>
                                </ul>
                            </li>
                            <li id="menu-academico" style="text-align:center !important;">
                                <a href="#"><i class="fa fa-cubes fa-2x"></i></br><span>Purchase</span></a>
                                <ul id="menu-academico-sub">
                                    <li id="menu-academico-avaliacoes">@Html.ActionLink("Purchase Orders", "Index", "PurchaseOrders")</li>
                                    <li id="menu-academico-boletim">@Html.ActionLink("Purchase Entry", "Index", "PurchaseEntries")</li>
                                </ul>
                            </li>
                            <li style="text-align:center !important;">
                                <a href="#"><i class="fa fa-credit-card  fa-2x"></i></br><span>Accounts</span></a>
                                <ul style="text-align:left !important" ;>
                                    <li><a href="#">Expendeture</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
            <div class="sidebar-overlay" id="sidebar-overlay"></div>
            <article class="content dashboard-page">
                <section>
                   @RenderBody()
                </section>

            </article>
            <footer class="footer">
                <!--<div class="footer-block buttons"> <iframe class="footer-github-btn" src="https://ghbtns.com/github-btn.html?user=modularcode&repo=modular-admin-html&type=star&count=true" frameborder="0" scrolling="0" width="140px" height="20px"></iframe> </div>-->
                <div class="footer-block author">
                    <ul>
                        <li> created by <a href="https://github.com/modularcode">RASVEK</a> </li>
                        <li> <a href="https://github.com/modularcode/modular-admin-html#get-in-touch">Cont. - 9703772797</a> </li>
                    </ul>
                </div>

            </footer>
            <div class="modal fade" id="modal-media">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <h4 class="modal-title">Media Library</h4>
                        </div>
                        <div class="modal-body modal-tab-container">
                            <ul class="nav nav-tabs modal-tabs" role="tablist">
                                <li class="nav-item"> <a class="nav-link" href="#gallery" data-toggle="tab" role="tab">Gallery</a> </li>
                                <li class="nav-item"> <a class="nav-link active" href="#upload" data-toggle="tab" role="tab">Upload</a> </li>
                            </ul>
                            <div class="tab-content modal-tab-content">
                                <div class="tab-pane fade" id="gallery" role="tabpanel">
                                    <div class="images-container">
                                        <div class="row"> </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade active in" id="upload" role="tabpanel">
                                    <div class="upload-container">
                                        <div id="dropzone">
                                            <form action="/" method="POST" enctype="multipart/form-data" class="dropzone needsclick dz-clickable" id="demo-upload">
                                                <div class="dz-message-block">
                                                    <div class="dz-message needsclick"> Drop files here or click to upload. </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer"> <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> <button type="button" class="btn btn-primary">Insert Selected</button> </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <div class="modal fade" id="confirm-modal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title"><i class="fa fa-warning"></i> Alert</h4>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure want to do this?</p>
                        </div>
                        <div class="modal-footer"> <button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button> <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button> </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>

            <!-- /.modal -->
            <!-- /.modal -->
        </div>
    </div>
    <!-- Reference block for JS -->
    <div class="ref" id="ref">
        <div class="color-primary"></div>
        <div class="chart">
            <div class="color-primary"></div>
            <div class="color-secondary"></div>
        </div>
    </div>
    <script src="Scripts/vendor.js"></script>
    <script src="Scripts/app.js"></script>
   
    <script src="@Url.Content("~/Scripts/jquery.dataTables.min.js")"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        var toggle = true;
        $(".sidebar-icon").click(function () {
            if (toggle) {
                $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
                $("#menu span").css({ "position": "absolute" });
            }
            else {
                $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
                setTimeout(function () {
                    $("#menu span").css({ "position": "relative" });
                }, 400);
            }
            toggle = !toggle;
        });
    </script>

</body>
</html>
