@model TTMS.Models.order_master

 
    <div>
        <h4>Order_Master</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.EmployeeID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EmployeeID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Order.OrderNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Order.OrderNo)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
 