@model TTMS.Models.Order_MasterVM

 
    @using (Html.BeginForm("Edit", "Order_Master",FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Order_Master</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)
    
            <div class="form-group">
                @Html.LabelFor(model => model.OrderNo, "OrderID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.OrderNo, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                    @Html.ValidationMessageFor(model => model.OrderNo, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.EmployeeName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EmployeeName, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                    @Html.ValidationMessageFor(model => model.EmployeeName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Status", null, htmlAttributes : new { @class = "form-control" } )
                    @Html.ValidationMessageFor(model => model.Status,"", new { @class = "text-danger" })
                </div>
            </div>
            <table id="myDataTable" class="display">
                <thead>
                    <tr>
                        <th style="display:none">ID</th>
                        <th style="display:none">ProductID</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Remaining Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        //To make unique Id
                        int i = 0;
                        foreach (var item in Model.order_Master_products)
                        {
                            <tr class="contacts-record">
                                <td style="display:none">
                                    @Html.TextBoxFor(model => model.order_Master_products[i].ID, new { @id = "ProductID_" + i })
                                </td>
                                <td style="display:none">
                                    @Html.TextBoxFor(model => model.order_Master_products[i].ProductID, new { @id = "ProductID_" + i })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.order_Master_products[i].Name, new { @id = "ProductName_" + i })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.order_Master_products[i].Quantity, new { @id = "Qty_" + i, @readonly = true })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.order_Master_products[i].RemainingQuantity, htmlAttributes: new { @id = "RQty" + i  })
                                </td>
                            </tr>
                            i++;
                        }
                    }
                </tbody>
            </table>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
 
